{% extends "stories/base.html" %}
{% block content %}
{% load static %}
    <section class="ftco-section contact-section create-story">
        <div class="container">
            <div class="row block-9 justify-content-center">
                <div class="col-md-6 order-md-last d-flex">
                    <form method="POST" class="bg-light p-5 contact-form">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="navbar-brand center" href="#">You have been logged out<span>.</span></legend>
                        </fieldset>
                        <div class="border-top pt-3">
                            <small class="text-muted">
                                <a class="ml-50" href="{% url 'login' %}">Log In Again</a>
                            </small>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}