<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="index.html">Stories<span>.</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="{% url 'stories-index' %}" class="nav-link">Home</a></li>
                <li class="nav-item active"><a href="{% url 'stories-about' %}" class="nav-link">About</a></li>
                <li class="nav-item"><a href="{% url 'stories-stories' %}" class="nav-link">Stories</a></li>
                <li class="nav-item"><a href="{% url 'stories-recipes' %}" class="nav-link">Recipes</a></li>
                <li class="nav-item"><a href="{% url 'stories-contact' %}" class="nav-link">Contact</a></li>
                
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}" class="btn btn-black px-3 px-md-4 py-3">Profile</a></li>
                    <li><a href="{% url 'logout' %}" class="btn btn-black px-3 px-md-4 py-3 ml-1">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}" class="btn btn-black px-3 px-md-4 py-3">Sign In</a></li>
                    <li><a href="{% url 'register' %}" class="btn btn-black px-3 px-md-4 py-3 ml-1">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->